@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FinalProjectMVC.Models.ProductViewModel;


        <div class="row mt-5">
@foreach (var item in Model.orders)
{

        <div class="card p-3 mb-3" style="width: 100%;">
            <div class="">
                <h2>Order ID : @Html.DisplayFor(modelItem => item.Id)</h2>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6">

            <h4>Status : @Html.DisplayFor(modelItem => item.Status)</h4>
            <h6>Created on : @Html.DisplayFor(modelItem => item.CreatedOn)</h6>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                    <a asp-action="Details" asp-route-id=@item.Id style="text-decoration: none">
                        <div class="d-flex align-items-center nav-link text-dark" style="border-right: 1.5px solid grey;">
                            <i class="fa-solid fa fa-info-circle p-1"></i>
                            <span class="fw-bold">Details</span>
                        </div>

                    </a>
              </div>
            </div>
  
        </div>
     @*   <li>
            @Html.DisplayFor(modelItem => item.Id)
        </li>*@

    
    
}
</div>
