html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.custom-button {
    height: 100%;
    background: #fcfbf4;
    border: none;
    text-transform: uppercase;
}

    .custom-button:hover {
        background: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }


.drop-button:focus, .drop-button:active:focus, .drop-button.active:focus,
.drop-button.focus, .drop-button:active.focus, .drop-button.active.focus {
    box-shadow: none;
}


.dropdown-menu a:hover {
    background-color: #feee00;
}

.btn-cart {
    background-color: #feee00;
}

.btn-cart:hover {
    background-color: #fee00f;
}

.btn-cart:focus, .btn-cart:active:focus, .btn-cart.active:focus,
.btn-cart.focus, .btn-cart:active.focus, .btn-cart.active.focus {
    outline: none;
    box-shadow: none;
}